[submodule "submodule/stickybomb-kr-entity"]
	path = submodule/stickybomb-kr-entity
	url = https://github.com/choewy/stickybomb-kr-entity.git
[submodule "submodule/stickybomb-core"]
	path = submodule/stickybomb-core
	url = https://github.com/choewy/stickybomb-core.git
